.tools_page_jc-exporter{
  #wpcontent{
    padding-left: 0;
  }
  .wrap{
    margin: 0;
  }
}

.ewp-{

  &header{
    background: #FFF;
    border-bottom: 1px solid #e2e4e7;
    text-align: center;

    h1{
      display: inline-block;
      font-weight: 600;
      margin: 1rem .8rem;
      font-size: 23px;
      padding: 9px 0 4px 0;
      line-height: 1.3;
    }
  }

  &header__tabs{

  }

  &header__tab{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: .5rem 1rem 1rem;
    margin: 0 1rem;
    transition: box-shadow .5s ease-in-out;

    &:focus{
      color: #191e23;
      outline: 1px solid #6c7781;
      box-shadow: none;
    }

    &:hover{
      color: #608b60;
    }

    &--active {
      font-weight: 600;
      &, &:focus {
        box-shadow: inset 0 -3px #608b60;
      }
    }
  }

  &body{
    padding: 10px;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
  }

  &exporter-list__item{
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    background: #fff;
    color: #23282d;
    margin-bottom: 10px;
    padding: 1em 3.5em 1em 1.5em;

    h1, p{
      margin: 0 0 10px;
      padding: 0;
    }
  }

  &form{

    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    background: #fff;
    color: #23282d;
    margin-bottom: 10px;
    padding: 1em 3.5em 1em 1.5em;

    &__row{
      margin-bottom: 10px;
    }

    &__input{
      width: 100%;
      font-size: 1em;
    }

    &__label{
      display: block;
      margin-bottom: 0.5em;
      font-weight: bold;
    }
  }

  &header{
    margin-bottom: 10px;
  }

  &notice{
    background: #FFF;
    border: 1px solid #e5e5e5;
    color: #2B6CB0;
    padding: 0;
    margin-bottom: 10px;

    p{
      border-left: 4px solid #63B3ED;
      margin: 0;
      padding: 10px;
    }

    &--success{
      p {
        border-left-color: #68D391;
        color: #2F855A;
      }
    }

    &--error{
      p {
        border-left-color: #FC8181;
        color: #C53030;
      }
    }
  }

  &page-title-action{
    margin-left: 10px !important;
  }

  &nav-tab-right{
    float:right;
    margin-top: 15px;
    margin-right: 10px;
  }

  &logo{
    line-height: 50px;
  }

  &buttons{
    .button{
      margin-right: 5px;
    }
  }
  &modal{
    position: fixed;
    top:32px;
    left:160px;
    right:0;
    bottom:0;
    z-index: 1;
  }
  &modal-wrapper{
    width:80%;
    position: absolute;
    top:0;
    left: 50%;
    margin-left: -40%;

    border-top: none;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    background: #fff;
    color: #23282d;

    box-sizing: border-box;
  }
  &modal-inside{
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  &modal-backdrop{
    background: #000;
    opacity: 0.3;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
  }
  &modal-close{
    position: absolute;
    padding: 20px;
    top:0;
    right:0;
    font-size: 20px;
    cursor: pointer;
  }
  &modal__title{
    padding-top: 0 !important;
  }
  &progress-bar{
    width: 100%;
  }
}